@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 30px;
    color: #FFA24C;
}

.logo {
    display: flex;
    align-items: center;
}

.logoimg {
    width: 15%;
    margin: 0 30px;
}

main {
    animation: anim2 3s 1;
}

@keyframes anim2 {
    0%{
        opacity: 0;
        transform: translate(-150px, 0);
    }

    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
}

.container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.menu {
    position: absolute;
    right: 0;
    top: 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 20px;
}

a {
    text-decoration: none;
    color: black;
}

.menu_item {
    margin-right: 30px;
    display: flex;
}

.menu_small_icon {
    display: none;
}

.menu-small {
    display: none;
    height: 2em;
}

.menu_small_item {
    display: none;
}

.stick {
    width: 80%;
    height: 3px;
    background: #FFA24C;
}

h2 {
    font-size: 30px;
    text-align: center;
}

.user {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.userinfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

label {
    margin: 0;
    padding: 0;
}

input {
    margin-bottom: 20px;
    border: #FFA24C solid 2px;
    width: 350px;
    height: 30px;
    font-size: 18px;
}

h3, h4 {
    font-size: 24px;
}

input[type='radio'] {
    accent-color: #FFA24C;
}

.way {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.radio {
    width: 50px;
    height: 20px;
    background-color: #FFA24C;
    border: 1px #FFA24C solid;
}

.content {
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
}

.pay {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

select {
    margin-bottom: 20px;
    border: #FFA24C solid 2px;
    
    width: 350px;
    height: 30px;
    font-size: 18px;
    outline: none;
    background: inherit;
    font: inherit;
}

.options {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.checkbox {
    width: 50px;
    height: 20px;
    background-color: #FFA24C;
    border: 1px #FFA24C solid;
}

#area {
    font-size: 24px;
}

.area {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 17%;
}

textarea {
    margin: 15px 0 30px 0;
    border: #FFA24C solid 2px;
    width: 80%;
    height: 150px;
}

a {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}

.btn {
    border: none;
    color: white;
    background-color: #FFA24C;
    font-size: 28px;
    padding: 10px 8px;
}

footer {
    background-color: #FFA24C;
    padding: 20px;
    color: white;
    font-size: 16px;
}

@media (max-width: 820px) {
    .menu {
        display: none;
    }

    .menu-small {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;
        padding: 0;
        position: absolute;
        background: white;
        transform: translateX(-100%);
    }

    a {
        font-size: 24px;
    }

    .menu_small_item {
        height: 2em;
        display: flex;
        justify-content: flex-start;
        margin-left: 30%;
        align-items: center;
    }

    .menu_small_item:first-child {
        padding-top: 20%;
    }

    .menu_small_icon {
        position: absolute;
        top: 1em;
        right: 1em;
        width: 50px;
        height: 40px;
        display: flex;
        z-index: 1;
        justify-content: space-around;
        align-items: center;
        flex-direction: column;
    }

    form {
        margin-left: 20px;
    }

    .user {
        display: flex;
        flex-direction: column;
    }

    .content {
        flex-direction: column;
    }

    .area {
        margin-left: 0;
        margin-top: 30px;
    }

    textarea {
        width: 90%;
    }

    a {
        align-items: flex-start;
        justify-content: flex-start;
    }
}